{% load staticfiles %}
{% load static %}
<head>
<title>Notas del programador</title>
{% block head_extra %}
{% endblock head_extra %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body class="body">
<div class="titulazo">
    <h1>Bitácora - a Simple Blog</h1>
</div>
<div id='cssmenu'>
<ul>
   <li><a href="{% url 'blog.views.post_list' %}"><span>Principal</span></a></li>
   <li><a href="{% url 'blog.views.post_new' %}"><span>Nuevo Post</span></a></li>
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
</div>
<div id='cssmenu2'>
<ul>
	<li class='active'><a href='#'><span>Posts</span></a></li>
    {% for post in posts %}
        <li><a href="{% url 'blog.views.post_detail' pk=post.pk %}"><span>{{ post.title }}</span></a></li>
    {% endfor %}
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
</div>
<br>
<div>
{% block content %}
{% endblock content %}
</div>
<div>
<h3>Blog creado por Charlie para <a href="https://conectabell.com"> Conectabell.com</a></h3>
</div>
</body>
