@font-face {
    font-family: FuenteTitulo;
    src: url('/static/fonts/GillieHilda.ttf?#') format('truetype');
}

@font-face {
    font-family: FuenteMenu;
    src: url('/static/fonts/ChampagneBold.ttf?#') format('truetype');
}

@font-face {
    font-family: FuenteContenido;
    src: url('/static/fonts/Champagne.ttf?#') format('truetype');
}

@font-face {
    font-family: FuenteAMano;
    src: url('/static/fonts/TrueBlue.otf?#') format('opentype');
}

.body{
    background-color: #333333
    }


body{
    background-color: #333333
    }

h1{
    font-family: FuenteTitulo;
    color: #ff860b;
    font-weight: 200;
    left: 50px;
    }

h2{
    font-family: FuenteAMano;
    font-size: 22px;
    color: #ff860b;
    }

h3{
    font-family: FuenteMenu;
    font-size: 18px;
    color: #A79787;
    }

h4{
   font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	text-decoration: none;
    font-size: 22px;
    color: #ff860b;
    }

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: #ff860b;
    }

p { font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      text-align: justify;
      text-indent: none;
      margin: 10px 10px 10px 10px ;
    }
#cssmenu {
  zoom: 1;
  width: auto;
  background: #1C1C1C;
  padding: 8px 0;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    -webkit-border-radius: 30px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius: 30px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-radius: 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu ul {
  list-style-type: none;
  position: relative;
  display: block;
  font-size: 12px;
  font-family: FuenteMenu;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #F87604;
  zoom: 1;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu li a {
  float: left;
  color: #A79787;
  text-decoration: none;
  height: 24px;
  padding: 9px 15px 0;
  font-weight: normal;
  font-family: FuenteMenu;
}
#cssmenu li:hover,
#cssmenu .active {
  text-decoration: none;
  border-bottom: 2px solid #F85704;
}
#cssmenu li:hover a {
  color: #fff;
}
#cssmenu .active a {
  color: #fff;
  font-weight: 700;
}

#cssmenu2,
#cssmenu2 ul,
#cssmenu2 ul li,
#cssmenu2 ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

}
#cssmenu2 {
  width: 200px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
#cssmenu2 {
  float: right;
  padding-top:30px;
}
#cssmenu2:after,
#cssmenu2 ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu2 ul li {
  display: block;
  z-index: 1;
  background: #222222;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #080808 0%, #222222 50%, #363636 51%, #343434 78%, #6f6f6f 100%);
  background: -webkit-linear-gradient(bottom, #080808 0%, #222222 50%, #363636 51%, #343434 78%, #6f6f6f 100%);
  background: -o-linear-gradient(bottom, #080808 0%, #222222 50%, #363636 51%, #343434 78%, #6f6f6f 100%);
  background: -ms-linear-gradient(bottom, #080808 0%, #222222 50%, #363636 51%, #343434 78%, #6f6f6f 100%);
  background: linear-gradient(to top, #080808 0%, #222222 50%, #363636 51%, #343434 78%, #6f6f6f 100%);
}
#cssmenu2 ul li::after {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  border-top-left-radius: 20% 4px;
  border-top-right-radius: 80% 4px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
  bottom: 10px;
}
#cssmenu2 ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 3;
}
#cssmenu2 ul li a:hover,
#cssmenu2 ul li.active a {
  color: #ffffff;
}
#cssmenu2 ul li:hover,
#cssmenu2 ul li.active {
  background: #16bd8c;
  background: -moz-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%, #1adda4 78%, #7cf0ce 100%);
  background: -webkit-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%, #1adda4 78%, #7cf0ce 100%);
  background: -o-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%, #1adda4 78%, #7cf0ce 100%);
  background: -ms-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%, #1adda4 78%, #7cf0ce 100%);
  background: linear-gradient(to top, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%, #1adda4 78%, #7cf0ce 100%);
}
#cssmenu2 ul li:hover::after,
#cssmenu2 ul li.active::after {
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #16bd8c 61%, #16bd8c 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #16bd8c 61%, #16bd8c 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #16bd8c 61%, #16bd8c 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #16bd8c 61%, #16bd8c 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.myButton {
	position: relative;
	left: 10%;
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}


.boxpost {
position: relative;
left: 10%;
margin: 10px;
min-width: 400px;
max-width: 70%;
background: #151515;
border-style: solid;
border-width: 3px;
border-color: #6B6B6B;
-webkit-border-radius: 30px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius: 30px;
-moz-border-radius-topright: 5px;
border-radius: 30px;
border-top-right-radius: 5px;
}

.boxpost > h2 {
text-decoration: none;
font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
text-align: center;
height: 30px;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
background: #383636;
border-radius: 25px 4px 4px 4px;
-moz-border-radius: 25px 4px 4px 4px;
-webkit-border-radius: 25px 4px 4px 4px;
border: 0px solid #000000;
padding-left: 50px;
font-style: none;
}

.boxpost > h2 > a {
position: relative;
font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
top: 3px;
}

.boxpost > h4 {
text-decoration: none;
font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
font-size: 12px;
text-align: right;
padding-top: 5px;
padding-right: 25px;
margin-top: -15px;
margin-left: 5px;
margin-right: 5px;
margin-bottom: -5px;
background: #47403b;
border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
border: 0px solid #000000;
font-style: none;
text-indent: 10px;
color: #8E8E8E;
}

.boxpost > h4 > p {
text-decoration: none;
font-size: 16px;
font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
background: #4D4646;
border-radius: 4px 4px 25px 25px;
-moz-border-radius: 4px 4px 25px 25px;
-webkit-border-radius: 4px 4px 25px 25px;
border: 0px solid #000000;
font-style: none;
text-indent: 20px;
color: #BDBDBD;
padding-bottom: 15px;
}

.titulazo{
font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
font-size: 32px;
font-weight: 100;
}

.subtitulo {
padding-top: 5px;
padding-bottom: 10px;
margin-bottom: 10px;
position: relative;
left: 12%;
width: 400px;
background-color: #121212;
-webkit-border-top-left-radius: 15px;
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomleft: 15px;
-moz-border-radius-bottomright: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

.subtitulo > p {
position: relative;
font-family: FuenteContenido;
font-size: 45px;
color: #FF6E08;
left:12%
}

.post-form {
position: relative;
font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
left: 10%;
width: 600px;
border-top: 2px;
border-color: #E55E1B;
background-color: #121212;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
padding: 20px;
align-items: left;
}

.post-form > p > label {
/*display: none;*/
font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
font-size: 20px;
font-weight: bold;
color: #FF6E08;

}

.post-form > p > input {
font-family: FuenteContenido;
font-size: 25px;
width: 95%;
height: 35px;
left: 2.5%;
position: relative;
}

.post-form > p > input[name|=crypt] {
font-family: FuenteContenido;
font-size: 25px;
width: 0%;
height: 12px;
left: 0%;
position: relative;
}

.post-form > p > input[name|=key] {
font-family: FuenteContenido;
font-size: 25px;
width: 60%;
height: 35px;
left: 17%;
position: relative;
}

.post-form > p > input[name|=rekey] {
font-family: FuenteContenido;
font-size: 25px;
width: 60%;
height: 35px;
right: 0%;
position: relative;
}

.post-form > p > textarea {
font-family: FuenteContenido;
font-size: 25px;
width: 85%;
left: 2%;
position: relative;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}

.errorlist, .errorlist > li{
list-style: none;
font-family: FuenteMenu;
color: red;
font-size: 25px;
width: 85%;
left: 2%;
position: relative;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}

.md-text {
font-family: FuenteMenu;
text-decoration: none;
font-size: 12px;
padding-top: 5px;
margin-top: -10px;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 0.5%;
padding-bottom: 25px;
border-bottom: 4px solid;
background: #4D4646;
border-radius: 4px 4px 25px 25px;
-moz-border-radius: 4px 4px 25px 25px;
-webkit-border-radius: 4px 4px 25px 25px;
border: 0px solid #000000;
font-style: none;
text-indent: 10px;
color: #8E8E8E;
position: relative;
    }

.md-text > h1 {
font-family: FuenteMenu;
font-size: 43px;
    }

.md-text > h2 {
font-family: FuenteMenu;
font-size: 28px;
    }

.wmd-panel
{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	min-width: 500px;
}

.wmd-button-bar
{
	width: 100%;
	background-color: Silver;
}

.wmd-input
{
	height: 300px;
	width: 100%;
	background-color: black;
	border: 1px solid DarkGray;
	border-radius: 5px;
	font-family: FuenteContenido;
	font-size: 22px;
}

.wmd-preview
{
	background-color: #c0e0ff;
}

.wmd-button-row
{
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;
	height: 20px;
}

.wmd-spacer
{
	width: 1px;
	height: 20px;
	margin-left: 14px;
	
	position: absolute;
	background-color: red;
	display: inline-block;
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../pagedown/wmd-buttons2.png);
    background-color: red;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}




.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

